.navHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 5%;
  color: #184CAC;
}

.navButtons {
  display: flex;
  gap: 10px;
}

.btn-custom {
  background: #4973C2 !important;
}

.btn-custom:hover {
  background-color: #184CAC !important;
}

.navLink {
  color:white;
  text-decoration: none;
}